.margin-top-15 {
  margin-top: 15;
}

.margin-top-30 {
  margin-top: 30;
}

.margin-top-45 {
  margin-top: 45;
}

.margin-top-60 {
  margin-top: 60;
}

.margin-topWhile-15px {
  margin-top: 15px;
}

.margin-topWhile-30px {
  margin-top: 30px;
}

.margin-topWhile-45px {
  margin-top: 45px;
}

.margin-topWhile-60px {
  margin-top: 60px;
}

h1 {
  color: red;
  font-size: 40px;
  font-weight: bold;
}

h2 {
  color: red;
  font-size: 40px;
  font-weight: bold;
}

h3 {
  color: red;
  font-size: 40px;
  font-weight: bold;
}

h4 {
  color: red;
  font-size: 40px;
  font-weight: bold;
}

h5 {
  color: red;
  font-size: 40px;
  font-weight: bold;
}

h6 {
  color: red;
  font-size: 40px;
  font-weight: bold;
}

